.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

input, button {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}